.skeleton {
    background: linear-gradient(90deg,
            #f4f4f5 25%,
            #d4d4d8 50%,
            #f4f4f5 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite ease-in-out;
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}